<ion-header>
  <ion-toolbar>
    <ion-title>Ver Agenda</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>

  <ion-list>
    <ion-item>
      <ion-label>Felizardo Manuel</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Manuel Jorge</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Amelia Zelda</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Joao Cipriano</ion-label>
    </ion-item>
    <ion-item>
      <ion-label>Felizardo Rombe</ion-label>
    </ion-item>
  </ion-list>

</ion-content>
