<!-- <ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header> -->

<ion-content [fullscreen]="true">
  <!-- <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Mentoria</ion-title>
    </ion-toolbar>
  </ion-header> -->

  <div id="container">

    <strong>MENTORIA</strong>
    <ion-button expand="block" size="default"  [routerLink]="['/marcar']">MARACAR MENTORIA</ion-button>

    <br>

    <ion-segment>
      <ion-segment-button value="mentor" [routerLink]="['/mentor']">
        <ion-label>MENTOR</ion-label>
      </ion-segment-button>

      <ion-segment-button value="mentoriado" [routerLink]="['/home']">
        <ion-label>MENTORIADO</ion-label>
      </ion-segment-button>
    </ion-segment>

  </div>
</ion-content>
